# Локальные инструменты разработки
my-awesome-agent/
.claude/
.easycodeignore
.qwenignore
.rooignore
.venv/
.vscode/easycode.ignore

# Зависимости и скомпилированные файлы
node_modules/
/tmp
/log
/public/assets
/public/packs
/public/packs-test
/public/system
/coverage
/vendor/bundle
yarn-error.log
yarn-debug.log*
.yarn-integrity

# Тесты
spec/

# Конфиденциальные данные и настройки
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
config/credentials.yml.enc
config/master.key
config/database.yml.mysql.backup
db/schema.rb.mysql.backup

# Специфичные для ОС и редакторов файлы
.DS_Store
*.swo
*~
*.swp
.idea/
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Другие файлы и директории
/storage/*
!/storage/.keep
body.json
response.json
install.sh
Untitled.png
favicon.ico
